{% extends "base.html" %}

{% block content %}

<body>

    <h3>현재 플레이어: {{user.name}}</h3> 

    <label for="picked_card">내가 고른 카드</label>
    <select name="picked_card">
        {% for num in counter %}
        <option value="{{num}}">{{num.random_card_num() }}</option>
    </select>

    <label for="picked_cp">상대방</label>
    <select name="picked_cp">
        {% for cp in random_list %}
        <option value="{{cp}}">{{cp}}</option>
    </select>
    <input type="submit" value="반격하기!">

{% endblock %}