{% extends "base.html" %}

{% block content %}

    <br/>
    <br/>
    <br/>
    <br/>
    <div class="d-flex justify-content-center align-items-center attack-box" style="margin-top: 200px; height: 345px; margin-bottom: 216px;">
        <form action="" method="POST" style="width: 450px;">
            {% csrf_token %}
            <h3>현재 플레이어: {{user.username}}</h3> 
            <br />
            <label for="picked_card">내가 고른 카드</label>
            <select name="picked_card">
                {% for num in random_list %}
                <option value="{{num}}">{{num}}</option>
                {% endfor %}
            </select>
            <br />
            <hr style="height: 4px; width: 85%; position: relative; left: 34px;"/>
            <br />
            <label for="picked_cp">상대방 </label>
            <select name="picked_cp">
                {% for cp in counters %}
                    <option value="{{cp}}">{{cp}}</option>
                {% endfor %}
            </select>
            <br />
            <br />
            {% comment %} <a href= "{% url "game:game_result" %}">공격하기!</a> {% endcomment %}
            <a href= "{% url "game:game_result" %}"><input type="submit" value="공격하기"  class="btn btn-outline-danger"/></a>
        </form>
    </div>
{% endblock %}