{% extends "base.html" %}

{% block content %}

<body>


    <br/>
    <br/>
    <br/>
    <br/>
    <div class="d-flex flex-column justify-content-center align-items-center" style="margin-top: 200px; height: 345px;">
        <i class="fas fa-gamepad fa-4x" style="color: orange;"></i>
        <form action="" method="POST" style="width: 450px;">
            {% csrf_token %}
            <h3>{{game.host}}에게 반격하세요!</h3>

            <hr style="height: 2px;" />

            <h3>현재 플레이어: {{user.name}}</h3> 

            <label for="picked_card">내가 고른 카드</label>
            <select name="picked_card">
                {% for num in random_list %}
                <option value="{{num}}">{{num}}</option>
                {% endfor %}
            </select>


            <input type="submit" value="반격하기!">
        </form>
    </div>

    

{% endblock %}