<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Game</title>
</head>
<body>

    <h3>{{game.cp}}에게 반격하세요!</h3>

    <hr/>

    <h3>현재 플레이어: {{user.name}}</h3> 

    <label for="picked_card">내가 고른 카드</label>
    <select name="picked_card">
        {% for num in card_numbers %}
        <option value="{{num}}">{{num}}</option>
    </select>

    <label for="picked_cp">내가 고른 카드</label>
    <select name="picked_cp">
        {% for cp in users %}
        <option value="{{cp}}">{{cp}}</option>
    </select>
    <input type="submit" value="반격하기!">


</body>
</html>