{% extends 'base.html' %}

{% block content %}


    <br/><br/><br/><br/><br/><br/>
    <div class="d-flex flex-column justify-content-center align-items-center" style="margin-top: 80px; height: 345px;">
        <i class="fas fa-gamepad fa-4x" style="color: orange;"></i>
        <br />
        <h3 style="font-weight: bold;">Piro 명예의 전당 </h3>
        <br />
        {% for user in users %}
            <p style="font-size: 20px;">랭킹 {{user.rank }} 등 : {{ user.username}} 님 !  [ 총점수: {{ user.score }} ] </p>
        {% endfor %}  
        <hr style="height: 2px;" />
    </div>

{% endblock %}